variables {
    PORT { env }
    BASE_URL "http://localhost:${PORT}"
    USER "john"
    PASSWORD { env "INQ_PASSWORD" }
}

queries {
    login POST "${BASE_URL}/login" {
        headers {
            user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0"
        }
        body json=#"""
        {
            "username": "${USER}",
            "password": "${PASSWORD}"
        }
        """#
    }
    json POST "${BASE_URL}/json" {
        headers {
            user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:50.0) Gecko/20100101 Firefox/50.0"
        }
        body json=#"""
        {
            "username": "${USER}",
            "password": "${PASSWORD}"
        }
        """#
    }
}
