variables {
    PORT 3000
    BASE_URL "http://localhost:${PORT}"
    USER "john" persist=#true
    PASSWORD file="password" persist="5m"
    CODE 401
    COOKIE "" persist=#true // persistence time set in post-script
}

queries {
    login POST "${BASE_URL}/login" {
        body json=#"""
        {
            "username": "${USER}",
            "password": "${PASSWORD}"
        }
        """#
        post-script #"""
        debug(vars);
        debug(vars.COOKIE);
        let cookie = parse_cookie(response.headers["set-cookie"]);
        vars.COOKIE.value = cookie.value;
        vars.COOKIE.expires_at = cookie.expires_at;
        """#
    }
    file POST "${BASE_URL}/echo" {
        body file="password"
    }
    raw POST "${BASE_URL}/echo" {
        body raw=(base64)"eAFLzs/NzSxRMDI2YSgpSk1VSEmzNEszNElMsTS1tEw1TzI2TUoxtDS3tEw1MDIysTBKNjOwTEoySOMqSCxKzStRSDNKNU5NTUpMNDUwNTU2Sk01SzY1sLAwMrMwMjYysEg1NzC1MDAwSuRKLC3JyC9SSCvNy6tMyq/ULcrPLlawSUsqckhLKtJLSS2zUzA0tzAwMTM1NLZQ0DUwNTDggjiuJJU4bSYwbVzFqSUKGamJKalFxQrlmSUZ+aUlCimlBTmZyYklmXnpXADmH0q9"
    }
    status GET "${BASE_URL}/status/${CODE}"
    status2 GET "https://httpbin.org/status/${CODE}"
    json POST "${BASE_URL}/json" {
        body json=#"""
        {
            "first_name": "John",
            "last_name": "Smith",
            "is_alive": true,
            "age": 27,
            "address": {
                "street_address": "21 2nd Street",
                "city": "New York",
                "state": "NY",
                "postal_code": "10021-3100"
            },
            "phone_numbers": [
            {
                "type": "home",
                "number": "212 555-1234"
            },
            {
                "type": "office",
                "number": "646 555-4567"
            }
            ],
            "children": [
                "Catherine",
                "Thomas",
                "Trevor"
            ],
            "spouse": null,
            "empty_obj": {},
            "empty_arr": []
        }
        """#
    }
}
